<!-- <ion-view view-title="{{chatRoom.name}}">
  <ion-nav-back-buttons side="left">
    <button class="button button-clear">
      <span class="icon ion-arrow-left-a"></span>
    </button>
  </ion-nav-back-buttons>
  <ion-content class="padding">
    <ion-scroll>
      <div class="chatContent">
        <p  ng-repeat="m in messages">{{m.sender}} : {{m.text}}</p>
      </div>
    </ion-scroll>

    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" ng-model="messageText"/>
        </label>
        <button class="button button-small button-positive" ng-click="sendMessage()">전송 </button>
      </div>
    </div>
  </ion-content>
</ion-view> -->
