<ion-view view-title="{{project.pname}}">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="projectInfo()">
      <span class="icon ion-ios-information-outline"></span>
    </button>
  </ion-nav-buttons>
  <ion-nav-back-buttons side="left">
    <button class="button button-clear">
      <span class="icon ion-arrow-left-a"></span>
    </button>
  </ion-nav-back-buttons>
  <ion-content class="padding content-stable" on-swipe-left="hideTime = false" on-swipe-right="hideTime = true">
    <ion-scroll delegate-handle="handle">
      <ion-refresher on-refresh="getChat()" pulling-text="Loding..."></ion-refresher>
      <div class="chatContent">
        <div ng-repeat="m in messages" ng-class="{'other': m.id == myId}" class="messages">
          <div class="messagee" ng-class="{'slide-right': hideTime}">
            <div ng-if="m.id!=myId">{{m.sender}}</div>
            <span> {{m.content}} </span>
            <p>{{m.created | datetime}}</p>
          </div>
        </div>

      </div>
    </ion-scroll>
  </ion-content>
  <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Type your message" ng-model="messageText" ng-focus="focused()" ng-blur="blurred()"  focus-me-disable={{disableFlag}} focus-me/>
    </label>
    <button class="button button-clear" ng-click="sendMessage()">
      전송
    </button>
  </ion-footer-bar>
</ion-view>
