<ion-view view-title="{{project.pname}}">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="projectInfo()">
      <span class="icon ion-ios-information-outline"></span>
    </button>
  </ion-nav-buttons>
  <ion-floating-button click="edit()" has-footer="false" button-color="#2AC9AA" icon="ion-edit" iconColor="#fff">
  </ion-floating-button>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="b in board" type="item-text-wrap" href="#/tabs/board/board-detail/{{b.id}}">
        <h2>{{b.title}}</h2>
        <h3>{{b.name}}</h3>
        <p>{{b.time}}</p>
        <p>조회수 : {{b.hits}}</p>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll on-infinite="getPage()" ng-if="total>page" immediate-check="false"></ion-infinite-scroll>
  </ion-content>
</ion-view>
