<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">글쓰기</h1>
    <button class="button button-clear" ng-click="hideModal()">
      <span class="icon ion-close"></span>
    </button>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="addBoard()">
      <div class="list">
        <div class="item item-divider">글제목</div>
        <label class="item item-input">
          <input type="text" ng-model="subject">
        </label>
        <div class="item item-divider">글내용</div>
        <textarea ng-model="content" rows="5" cols="100"></textarea>
        <button class="button button-block button-positive" type="submit">등록</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
