<ion-tabs class="tabs-icon-top tabs-positive">
  <ion-tab title="게시판" icon-on="ion-document-text" icon-off="ion-document" ui-sref="tabs.board">
    <ion-nav-view name="board-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="채팅" icon-on="ion-ios-chatboxes" icon-off="ion-ios-chatboxes-outline" ui-sref="tabs.chat">
    <ion-nav-view name="chat-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="파일" icon-on="ion-ios-folder" icon-off="ion-ios-folder-outline">
    <ion-nav-view name="file-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="스케쥴" icon-on="ion-ios-calendar" icon-off="ion-ios-calendar-outline">
    <ion-nav-view name="schedule-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>
