<ion-view view-title="채팅">
  <ion-content>
    <ion-scroll>
      <div class="chatContent">
        <p  ng-repeat="m in messages">{{m.text}}</p>
      </div>
    </ion-scroll>

    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" ng-model="messageText"/>
        </label>
        <button class="button button-small button-positive" ng-click="sendMessage()">전송 </button>
      </div>
    </div>
  </ion-content>
</ion-view>


<!-- <label class="item item-input">
  <input type="text" ng-model="messageText">
  <button class="button button-small button-positive" ng-click="sendMessage()">전송</button>
</label> -->
