<style>
.selected-color{
  border-radius:10px;
  border-style:solid;
  border-color:black;
  border-width:5px;
}
.unselected-color{
  border-radius:10px;
  border-style:solid;
  border-color:transparent;
  border-width:5px;
}
</style>
<ion-modal-view>
  <ion-header-bar class='bar-positive' align-title='left'>
    <h1 class="title">Add Event</h1>
    <button class='button ' ng-click='functions.hide();'>
      Cancel
    </button>
  </ion-header-bar>
  <ion-content>
    <div class='list' style='height:100%;width:100%;'>
      <label class='item item-input'>
        <span class='input-label'>
          <i class='icon positive ion-ios-circle-filled'></i>
          &nbsp;<b>Event Title</b>
        </span>
        <input type='text' ng-model='data.title' placeholder='enter Event Title' />
      </label>
      <label class='item item-input'>
        <span class='input-label'>
          <i class='icon positive ion-ios-circle-filled'></i>
          &nbsp;<b>Start Date</b>
        </span>
        <div class='item-input item-text-wrap' style='width:100%;'>
          <div ng-if='data.date.min' style='width:60%;'>
            {{functions.format(data.date.min, config.dateForm)}}
          </div>
          <button class='button button-positive button-small' on-tap='functions.showDatePicker({title : "Select Event Start Date", target : data.date.min, flag : 0})'>
            <i class='icon ion-calendar'>
            </i>
          </button>
        </div>
      </label>
      <label class='item item-input'>
        <span class='input-label'>
          <i class='icon positive ion-ios-circle-filled'></i>
          &nbsp;<b>End Date</b>
        </span>
        <div class='item-input item-text-wrap' style='width:100%;'>
          <div ng-if='data.date.max' style='width:60%;'>
            {{functions.format(data.date.max, config.dateForm)}}
          </div>
          <button class='button button-positive button-small' on-tap='functions.showDatePicker({title : "Select Event End Date", target : data.date.max, flag : 1})'>
            <i class='icon ion-calendar'>
            </i>
          </button>
        </div>
      </label>
      <label class='item item-input'>
        <span class='input-label'>
          <i class='icon positive ion-ios-circle-filled'></i>
          &nbsp;<b>Event Color</b>
        </span>
        <div ng-controller='colorRadioCtrl' style='max-width:50%;'>
          <div class='item-input' ng-class='{true : "selected-color", false : "unselected-color"}[data.selectedIndex == $index]' ng-repeat='color in data.colorList track by $index' on-tap='select($index)' style='background-color:{{color}};float:left;width:auto%;'>
            <h6>&nbsp;</h6>
          </div>
        </div>
      </label>
      <label class='item item-input'>
        <span class='item-label'>
          <i class='icon positive ion-ios-circle-filled'></i>
          &nbsp;<b>Event Description</b>
        </span>
        <textarea class='item-input' ng-model='data.description' value='' placeholder='enter event description' rows='30'></textarea>
      </label>
    </div>
  </ion-content>
  <ion-footer-bar>
    <div class='button-bar button-full'>
      <a class='button button-positive' on-tap='functions.createSchedule();'>
        Add
      </a>
      <a class='button button-assertive' on-tap='functions.hide();'>
        Cancel
      </a>
    </div>
  </ion-footer-bar>
</ion-modal-view>
