.chatContent {
  height: 400px;
}

#projectNum {
  display: inline;
}

.button-float{
  position:fixed;
  z-index: 999;
	width:60px;
	height:60px;
	bottom:150px;
	right:35px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
