.chatContent {
  height: 530px;
}

#projectNum {
  display: inline;
}

/*.button-float{
  position:fixed;
  z-index: 999;
	width:60px;
	height:60px;
	bottom:150px;
	right:35px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}*/

.messages {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-align-content: center !important;
  -ms-flex-line-pack: center !important;
  align-content: center !important;
  -webkit-box-align: center !important;
  -moz-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  margin-bottom: 20px !important;
  .messagee {
    -webkit-box-flex: 1 !important;
    -moz-box-flex: 1 !important;
    -webkit-flex: 1 1 auto !important;
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
    padding: 10px !important;
    -webkit-transition: all 250ms ease-in-out !important;
    transition: all 250ms ease-in-out !important;
    overflow: hidden !important;
    text-align: left !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
  }
}
//This will change
.messages.other .messagee{
  -webkit-transform: translate3d(0, 0, 0) !important;
  -moz-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  text-align: right !important;
}

.messages.other .messagee.slide-right {
    -webkit-transform: translate3d(110px, 0, 0) !important;
    -moz-transform: translate3d(110px, 0, 0) !important;
    transform: translate3d(110px, 0, 0) !important;
    text-align: right !important;
}

.messages.other .messagee span{
  color: black !important;
  background-color: #C7C7CC !important;
}

.messagee span {
  background: #007AFF !important;
  display: inline-block !important;
  color: white !important;
  padding: 10px !important;
  text-align: left !important;
  border-radius: 10px !important;
  max-width: 250px !important;
}

.slide-right{

}
